* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Verdana, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
}

.header,
.upper-section,
.footer {
  background-color: #1f2937;
}

.header,
.content > div,
.footer {
  padding-left: 16vw;
  padding-right: 16vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-link {
  color: #e5e7eb;
}

.upper-section {
  display: flex;
  align-items: center;
  gap: 75px;
  padding-top: 180px;
  padding-bottom: 180px;
}

.upper-heading {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.upper-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 22px;
}

.upper-button {
  border: none;
}

#sunset-img {
  height: auto;
  width: 706px;
}

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.information-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 75px;
  margin-bottom: 75px;
}

.photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 70px;
  padding-bottom: 166px;
}

.card {
  flex: 0 1 150px;
}

.sinner-img {
  height: auto;
  width: 150px;
  background-color: #1f2937;
  border: 5px solid #3b82f6;
  border-radius: 12px;
}

.photo-description {
  text-align: center;
  color: #767e88;
}

.quote-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 186px;
  padding-bottom: 186px;
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote-text {
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  align-self: flex-end;
  font-size: 30px;
  font-weight: 600;
}

.ad-section {
  padding-top: 136px;
  padding-bottom: 136px;
}

.ad-section-inside {
  display: flex;
  justify-content: space-between;
  padding: 69px 160px;
  border-radius: 12px;
  background-color: #3882f6;
  color: #f9faf8;
}

.ad-paragraph {
  font-size: 17px;
}

.button.ad-button {
  border: 2px solid #f9faf8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  color: white;
}

.button {
  padding: 8px 48px;
  color: #f9faf8;
  background-color: #3b82f6;
  border-radius: 12px;
  font-size: 32px;
  font-weight: 700;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}
