* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Verdana, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
}

.header,
.upper-section,
.footer {
  background-color: #1f2937;
}

.header,
.content > div,
.footer {
  padding-left: 16vw;
  padding-right: 16vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-link {
  color: #e5e7eb;
}

.upper-section {
  display: flex;
  align-items: center;
  gap: 75px;
  padding-top: 180px;
  padding-bottom: 180px;
}

.upper-heading {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.upper-text {
  font-size: 18px;
  color: #e5e7eb;
}

.upper-button {
  border: none;
}

#sunset-img {
  height: auto;
  width: 706px;
}

.sinner-img {
  height: auto;
  width: 150px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
}

.button {
  padding: 8px 48px;
  color: #f9faf8;
  background-color: #3b82f6;
  border-radius: 12px;
  font-size: 32px;
  font-weight: 700;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 22px;
}
